body {
  background-color: grey;
}

h5 {
  font-family: 'Gayathri', sans-serif;
  margin-top: 5%;
}

h5:hover {
  color: #BB8F3B;
}

h1 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 5rem;
  color: #BB8F3B;
}

h2 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3rem;
  color: #BB8F3B;
}

hr {
  border: dotted #fff 0.575rem;
  border-bottom: none;
  width: 5%;
  margin: 3.25rem auto;
}

/* Navigation Bar */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,223,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
  margin: 0 18px;
}
.custom-toggler.navbar-toggler {
  border-color: #BB8F3B;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #BB8F3B;
}
.n {
  color: #BB8F3B;
  padding-left: 5%;
}

.n:hover {
  color: #B4250E;
}

.logo {
  padding-left: 30%;
  height: 6rem;
}

.lop {
  padding-right: 5%;
}

.topBar {
  background-color: #070D24;
  color: #BB8F3B;
}

/* Introduction */
.g {
  color: #B4250E;
}

.r {
  color: #108FBA;
}

.h {
  color: #000;
}

.s {
  color: #1FAB89;
}

.b {
  color: white;
}

.bh {
  font-size: 3rem;
}

.bs {
  font-size: 1rem;
}

.titleC {
  font-size: 5rem;
  font-family: 'Bubblegum Sans', cursive;
}

.subC {
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
}

.school {
  background-color: #070D24;
  background-image: url("images/hogwartsBG.jpg");
  padding: 5%;
  height: 800px;
}

.banner {
  height: 40%;
  padding-bottom: 15px;
}

/* Houses */
#house {
  background-color: #000000;
  text-align: center;
}

.symbol {
  /* width: 10%; */
  padding: 3%;
}

.symbol:hover {
  color: #BB8F3B;
}

.br {
  width: 80%;
  margin: 5% auto 5%;
}

/* Sorting */
.sort {
  text-align: right;
  background-image: url("../images/download.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}

.sortImg {
  height: 20%;
}

.cap {
  margin-top: 3%;
  font-family: 'Crimson Text', serif;
  font-size: 1.7rem;
  color: #BB8F3B;
}

.imgBottom {
  height: 20%;
  text-align: right;
}

/* About School */
.aboutSchool {
  padding: 3%;
  background-image: url("../images/homeBG.jpg");
  font-family: 'Crimson Text', serif;
}

.info {
  color: #C0C0C0;
  font-size: 3rem;
  font-family: 'Bubblegum Sans', cursive;
}

.infoS {
  color: #C0C0C0;
  padding: 2%;
  font-size: 1.7rem;
  word-spacing: .5rem;
}

.hog {
  color: #BB8F3B;
  font-size: 1.3rem;
}

.hog:hover {
  color: grey;
  text-decoration: none;
}

/* Community */
.communityW {
  padding: 15% 5% 8%;
  text-align: right;
  background-image: url("../images/communityBG6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.connectH {
  color: #D0D4D3;
  font-size: 4rem;
  font-family: 'Bubblegum Sans', cursive;
}

.connectS {
  color: #D0D4D3;
  padding: 5%;
  font-family: 'Crimson Text', serif;
  font-size: 1.7rem;
  word-spacing: .5rem;
}

.key {
  text-align: center;
}

/* Footer */
#footer {
  padding: 0 5%;
  text-align: center;
  background-color: #070D24;
}

.bottom-icon {
  font-size: 3rem;
  color: #BB8F3B;
  margin: 10px;
}

.bottom-icon:hover {
  color: #B4250E;
  text-decoration: none;
}

@media (min-width:771px) {
  .cr {
    align-content: space-between;
  }

  .spaceIcons {
    align-items: center;
    padding-left: 30%;
    padding-top: 2%;
  }

  .footerImg {
    padding-right: 50%;
  }
}

/* Buttons */
.sortBtn {
  box-shadow: inset 0px 1px 0px 0px #BB8F3B;
  background-color: #BB8F3B;
  border-radius: 42px;
  display: inline-block;
  font-family: 'Crimson Text', serif;
  cursor: pointer;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 65px;
  text-decoration: none;
}

.sortBtn:hover {
  background-color: #D4AF37;
  color: #B4250E;
  text-decoration: none;
}

.sortBtn:active {
  position: relative;
  top: 1px;
}

.joinBtn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #BDC3C7;
  border-radius: 42px;
  display: inline-block;
  font-family: 'Crimson Text', serif;
  cursor: pointer;
  color: #1a0f1a;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 65px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.joinBtn:hover {
  background-color: #dfdfdf;
  color: #294723;
  text-decoration: none;
}

.joinBtn:active {
  position: relative;
  top: 1px;
}

/* For Mobile */
@media (max-width:800px) {
  #intro1 {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .wing {
    display: none;
  }

  .sort{
    padding-top: 5%;
    padding-bottom: 5%; 

  }
}

/* For Larger Display */
@media (min-width:800px) {
  #intro2 {
    display: none;
  }

  .imgBottom {
    display: none;
  }
}
