body {
  background-color: #000;
}

h5 {
  font-family: 'Gayathri', sans-serif;
  margin-top: 5%;
}

h1 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 5rem;
  color: #BB8F3B;
}

h2 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3rem;
  color: #BB8F3B;
}

hr {
  border: dotted #fff 0.575rem;
  border-bottom: none;
  width: 5%;
  margin: 3.25rem auto;
}

/* Navigation Bar */
.logo {
  padding-left: 30%;
  height: 6rem;
}

.topBar {
  background-color: #070D24;
}

/* Introduction */
.g {
  color: #B4250E;
}

.r {
  color: #108FBA;
}

.h {
  color: #000;
}

.s {
  color: #1FAB89;
}

.b {
  color: white;
}

.bh {
  font-size: 3rem;
}

.bs {
  font-size: 1rem;
}

.titleC {
  font-size: 5rem;
  font-family: 'Bubblegum Sans', cursive;
}

.subC {
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
}

.school {
  background-color: #070D24;
  background-image: url("images/hogwartsBG.jpg");
  padding: 5%;
  height: 800px;
}

.banner {
  height: 40%;
  padding-bottom: 15px;
}

/* Houses */
#house {
  background-color: #000000;
  text-align: center;
}

.symbol {
  /* width: 10%; */
  padding: 3%;
}

.br {
  width: 80%;
  margin: 5% auto 5%;
}

/* Sorting */
.sort {
  text-align: right;
  background-image: url("../images/download.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}

.sortImg {
  height: 20%;
}

.cap {
  margin-top: 3%;
  font-family: 'Crimson Text', serif;
  font-size: 1.7rem;
  color: #BB8F3B;
}

.imgBottom {
  height: 20%;
  text-align: right;
}

/* About School */
.aboutSchool {
  padding: 3%;
  background-image: url("../images/homeBG.jpg");
  font-family: 'Crimson Text', serif;
}

.info {
  color: #C0C0C0;
  font-size: 3rem;
  font-family: 'Bubblegum Sans', cursive;
}

.infoS {
  color: #C0C0C0;
  padding: 2%;
  font-size: 1.7rem;
  word-spacing: .5rem;
}

.hog {
  color: #BB8F3B;
  font-size: 1.3rem;
}

.hog:hover {
  color: grey;
  text-decoration: none;
}

/* Community */
.communityW {
  padding: 15% 5% 8%;
  text-align: right;
  background-image: url("../images/communityBG6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.connectH {
  color: #D0D4D3;
  font-size: 4rem;
  font-family: 'Bubblegum Sans', cursive;
}

.connectS {
  color: #D0D4D3;
  padding: 5%;
  font-family: 'Crimson Text', serif;
  font-size: 1.7rem;
  word-spacing: .5rem;
}

.key {
  text-align: center;
}

/* Footer */
#footer{
  padding: 5%
}

/* Buttons */
.myButton {
  box-shadow: 0px 0px 1px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffce78 5%, #b59100 100%);
  background-color: #ffce78;
  border-radius: 28px;
  border: 1px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #a82b2b;
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 16px 31px;
  text-decoration: none;
}

.myButton:hover {
  background: linear-gradient(to bottom, #b59100 5%, #ffce78 100%);
  background-color: #b59100;
  text-decoration: none;
  color: #000;
}

.myButton:active {
  position: relative;
  top: 1px;
}


.joinBtn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#BDC3C7;
	border-radius:42px;
	display:inline-block;
  font-family: 'Crimson Text', serif;
	cursor:pointer;
	color:#1a0f1a;

	font-size:1.5rem;
	font-weight:bold;

	padding:10px 65px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.joinBtn:hover {
	background-color:#dfdfdf;
  color: #294723;
  text-decoration: none;
}
.joinBtn:active {
	position:relative;
	top:1px;
}

/* For Mobile */
@media (max-width:800px) {
  #intro1 {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .wing {
    display: none;
  }

}

/* For Larger Display */
@media (min-width:800px) {
  #intro2 {
    display: none;
  }

  .imgBottom {
    display: none;
  }
}
