body {}

/* Navigation Bar */
.logo {
  padding-left: 30%;
  height: 6rem;
}

.topBar {
  background-color: #070D24;
}

@media (max-width:800px) {
  #intro1 {
    display: none;
  }
}

@media (min-width:800px) {
  #intro2 {
    display: none;
  }
}
