body {
  background-color: #000;
}

h5 {
  font-family: 'Gayathri', sans-serif;
  margin-top: 5%;
}

h1 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 5rem;
  color: #BB8F3B;
}

h2 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3rem;
  color: #BB8F3B;
}

/* Navigation Bar */
.logo {
  padding-left: 30%;
  height: 6rem;
}

.topBar {
  background-color: #070D24;
}

/* Introduction */
.g {
  color: #B4250E;
}

.r {
  color: #108FBA;
}

.h {
  color: #000;
}

.s {
  color: #1FAB89;
}

.b {
  color: white;
}

.bh {
  font-size: 3rem;
}

.bs {
  font-size: 1rem;
}

.titleC {
  font-size: 5rem;
  font-family: 'Bubblegum Sans', cursive;
}

.subC {
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
}

.school {
  background-color: #070D24;
  background-image: url("images/hogwartsBG.jpg");
  padding: 5%;
  height: 800px;
}

.banner {
  height: 40%;
  padding-bottom: 15px;
}

/* Houses */
#house {
  background-color: #000000;
  text-align: center;
}

.symbol {
  /* width: 10%; */
  padding: 3%;
}

.br {
  width: 80%;
  margin: 5% auto 5%;
}

/* Sorting */



.sort {
  background-image: url("../images/download.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
  /* height: 600px; */
}

.cap {
  margin-top: 3%;
  font-family: 'Crimson Text', serif;
  font-size: 1.7rem;
  color: #BB8F3B;
}

.houseSort{
  text-align: left;

}

/* For Mobile */
@media (max-width:800px) {
  #intro1 {
    display: none;
  }
  h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3rem;
    color: #BB8F3B;
  }

  h2 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 2rem;
    color: #BB8F3B;
  }

  .wing{
    display: none;
  }
}

/* For Larger Display */
@media (min-width:800px) {
  #intro2 {
    display: none;
  }
}
